sparky/OLD/
sparky/errorSearchOutput/
sparky/tsvCrunchInput/
sparky/tsvDiffCalculateInput/
sparky/tsvMasterDiffMonthOutput/
sparky/deltas/
postspark_diffs/master_filtered/
postspark_diffs/masterdiff_output/
postspark_diffs/master_filtered.tar.gz
1.0/output_rulepagerevs/*
*/brainstorm_*.md
**/__pycache__
wikipedia_talk_wikiproject_women_02-23-2023_22-21-20.tsv
wikipedia_talk_wikiproject_delete_sorting_revs_02-23-2023_22-21-20.tsv
afd_cases_women.tsv