sparky/*/*.csv filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
wikirules/output_rulepagerevs/2020-07-31/en_revisions.tsv filter=lfs diff=lfs merge=lfs -text
wikirules/output_rulepagerevs/2020-07-31/en_revisions_talk.tsv filter=lfs diff=lfs merge=lfs -text
