sparky/OLD/
sparky/errorSearchOutput/
sparky/tsvCrunchInput/
sparky/tsvDiffCalculateInput/
sparky/tsvMasterDiffMonthOutput/
sparky/deltas/
deltas/
tsvCrunchOutput/
postspark_diffs/master_filtered/
postspark_diffs/masterdiff_output/